/* -------- Reseteo ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Rem */
html {
    font-size: 18px;
}

/* imagen responsive. */

img {
    max-width: 100%;
    height: auto;
}

/* -------- Fondo ---------- */
body {
    background-image: url("..//Galeria/Fondo\ de\ pantalla.webp");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* -------- main y lista ---------- */
header nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 0px;
    justify-content: space-around;
    color: #ebebab;
    font-size: 40px;

}

header h2 {
    text-decoration: none;
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #ebebab;
    box-shadow: none;
}



.nav ul li a {
    text-decoration: none;
    color: #ebebab ;
    display: flex;
    box-shadow: none;
    font-size: 40px;
}

main h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
}

main h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
}

main {
    font-size: 25px;
    font-weight: 100px;
    color: #9b4b54;
    font-display: #ebebab;
}

.color {
    color: #f22b56;
    font-size: 50px;
}

.box {
    background: #78bd91;
    margin: 10px;
    overflow: hidden;
    padding: 0px;
}

table {
    text-align: center;

}

a title {
    text-align: center;
}

a {
    text-decoration: none;
}

.tamaño {
 margin-top: 2px;
 padding: 1%;
 text-align: center;
 
}

.imagenes img {
    width: 1000px; 
    height:600px;
}

/* menu y footer */

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--colorgeneral);
    background-image: url ("..//Galeria/Fondo\ de\ pantalla.webp");
    font-size: 1.5emm;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}

/* Grilla catalogo*/

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
}

.contenedor {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;

}

.container-fluid {
    width: 100%;
    max-width: 100%;
    
    
}

/* Media query mobile */
@media screen and (max-width:576px)
{
    .productos {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .menu-footer {
        flex-direction: column;
        display: flex;
    }
}/*

/* Media query tablet */
@media screen and (max-width:992px){
     .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .menu-footer {
        flex-direction: column;
        text-decoration: #EBEBAB;
        display: flex;
    }
}

/* Media query desktop */
@media screen and (max-width:11200px) 
{
    .productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
        

    .menu-footer {
        display: flex;
    }
}

/* Estilo Catalogo producto. */
.producto {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 20rem;
    float: left;
    background-color: #78bd91;
    gap: 50px;
    border-radius: 20px;
    margin-left: 100px;
    margin: 50px;
    padding: 10px;
    text-align: center;
    
}
{

}

.boton {
    background-color: #EBEBAB;
    border: 2px solid rgb(5, 5, 5);
    height: 2rem;
    border-radius: 5px;
    padding: pointer;
    color: black;
    ;
}

/* ----------- header, Footer-----------------*/

header {
    text-decoration: none;
    box-shadow: none;
    display: flex;
    justify-content: space-around;
    background-color: #f22b56de;
    position: sticky;
    height: 100%;
    top: 0;
    width: 100%;
}

a h2 {
    text-decoration: none;

   
}


footer {
    background-color: #f22b56;
    position: sticky;
    width: 100%;
    top: 0;
}

footer ul li a {
    text-decoration: none;
    box-shadow: none;
    color: #ebebab;
    font-size: 30px;

}

footer ul label {
    text-decoration: none;
    box-shadow: none;
    color: #ebebab;
    font-size: 30px;

}

.menu-footer a {
    text-decoration: none;
    box-shadow: none;
    color: #EBEBAB;
    font-size: 30px;
}


