* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$fontlato

}

ul {
    list-style: none;
    display: flex;   
   > li {
    padding: 1px 20px;
    flex-direction: column;}

    > a {
    text-decoration: none;
    list-style: none;
    color: black;}
}